# How to change different date and time formats to the standard datetime format

**Content:**
  * dd/mm/yyyy format to datetime
  * HH/MM format to datetime
  * Using a for loop
  * Dropping columns

The following line imports the *pandas* and *datetime* API:

In [1]:
#libraries
import pandas as pd
from datetime import datetime

## Creating a dataframe manually

In [2]:
d = {'Date': ['10/8/2017', '11/08/2017', '12/08/2017'], 'Time': ['02:32', '11:41', '09:03'], 'Deers': ['14', '22', '17']}
df = pd.DataFrame(data=d)
df = df[['Date', 'Time', 'Deers']]
df

         Date   Time Deers
0   10/8/2017  02:32    14
1  11/08/2017  11:41    22
2  12/08/2017  09:03    17

## Combining the date and time column to one datetime column

In [3]:
df['DateTime'] = 0

for i,row in df.iterrows():
  Date = df.loc[i,'Date']
  Time = df.loc[i,'Time']
  DateTime = Date + '-' + Time
  df.loc[i,'DateTime']  = datetime.strptime(DateTime, "%m/%d/%Y-%H:%M")

## Drop the old columns and print the new dataframe

In [ ]:
df = df.drop(df.columns[[0, 1]], axis=1)
df = df[['DateTime', 'Deers']]
df

              DateTime Deers
0  2017-10-08 02:32:00    14
1  2017-11-08 11:41:00    22
2  2017-12-08 09:03:00    17